{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Maria Nemova</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Шрифты -->

    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

    <div class="wrapper">
        <div class="wrapper-content">
            <div class="zastavka">
                <img src="{% static 'img/Piramidi.jpg' %}">
                <div class="start">Maria Nemova tours</div>
            </div>
            <div class="section1">
                <p><span class="dropcaps">К</span>аир, Египет – это настоящая буря Ближнего Востока, хранящая самые древние традиции, но стремящаяся
                к прогрессу и новому видению жизни. Здесь день за днем голос имама разлетается по песчаным улицам
                и призывают к молитве, а девушки, чтящие традиции, всё чаще снимают платок, гуляют с подругами,
                учатся в университетах и работают, защищая свою веру и семейную честь обретенным правом голоса.
                Этот город из песка наполнен дурманящим ароматом тысячи кальянов, специй, кофе и чая. Здесь
                противостояние и единение религий, традиций, культур и прогресса.  Этот мир совершенно другой, но
                чем-то очень родной. И я покажу его противоречивые грани, потайные ходы, умопомрачительные виды и
                бесконечный непрекращающийся праздник.</p>
            </div>
            <div class="section2">

                <!-- Carousel ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img class="first-slide" src="{% static 'media/images/section2_1.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img class="second-slide" src="{% static 'media/images/section2_2.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img class="third-slide" src="{% static 'media/images/section2_3.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_4.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_5.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_6.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_7.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_8.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_9.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_10.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_11.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_12.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_13.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_14.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_15.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_16.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_17.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_18.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_19.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_20.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_21.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_22.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_23.jpg' %}" class="img-responsive">
                    </div>
                    <div class="item">
                      <img src="{% static 'media/images/section2_24.jpg' %}" class="img-responsive">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div><!-- /.carousel -->

                <div class="description">
                    <h3>Что увидим и чем займемся</h3>
                    <ol>
                        <li>Единственное сохранившиеся чудо света – Великие Пирамиды Гизы. Изучим со всех ракурсов,
                            посидим на гигантских ступеньках, вызовем клаустрофобию и залезем внутрь, покатаемся на
                            верблюдах и просто помолчим, впитывая шепот пустыни и камней пирамид. А к ночи остановимся
                            у шатра бедуинов, слушая местные песни и вглядываясь в силуэты пирамид сквозь пламя костра.</li>
                        <li>Древнейший арабский рыбок – Кхан Эль Кхалили. Попытаемся не заблудиться среди тысячи
                            лавочек и продавцов, заблудимся и сядем пить кофе, чай, курить кальян там, где сотни лет
                            это делают люди из разных стран и сословий. </li>
                        <li>Посетим величайшие мечети и храмы Каира. Попробуем не впечатлиться атмосферой, узнаем
                            основы мусульманства и способы выживания христианской церкви на чужой земле.</li>
                        <li>Изучим город с крыш и ракурсов, не доступных простым туристам.</li>
                        <li>Заглянем в новый мир с его небоскребами, бизнес-центрами и современным искусством.
                            Прочувствуем, чем живет новое поколение. И расспросим, что думает об этом старшее поколение.</li>
                        <li>Прокатимся по бесконечной пустыне до почти забытых пирамид и храмов и научимся серфить по песку.</li>
                        <li>Отведаем самых традиционных арабских блюд, обязательно влюбимся и поговорим о мечтах,
                            целях и их воплощении.</li>
                        <li>Познакомимся с коренными египтянами и египтянками, подружимся и будем вместе танцевать
                            танец живота. Посетим ночной клуб и до утра будем напевать мировые хиты.</li>
                    </ol>
                </div>
                
            </div>
            <div class="section3">
                <h3>То, что по-настоящему наполнит тур атмосферой и пользой:</h3>
                <ul>
                    <li>Сидя на ступенях Великих Пирамид мы поговорим о целях, желаниях и стратегических планах.
                        Я научу, как грамотно формулировать, планировать и следовать к мечте.</li>
                    <li>Мы заранее обсудим и подберем образы для каждого выезда в город.</li>
                    <li>Мы проведем масштабную стилизованную съемку в пустыне и обязательно наполним контент-план
                        кадрами из каждого уголка Каира.</li>
                    <li>Мы обсудим основы ведения инстаграм-аккаунта и изучим азы мобильной и профессиональной
                        обработки фотографий на компьютере.</li>
                </ul>
            </div>
            <div class="section4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 sec4">
                            <h3>Проживание</h3>
                                <p>Вы когда-нибудь мечтали засыпать, разглядывая в окно египетские пирамиды?
                                    А просыпаться под шуршание пальмовых листьев и падения в прохладный бассейн? От такого вида с
                                    балкона точно хочется жить, путешествовать и кайфовать.</p>
                        </div>
                        <div class="col-sm-6 sec4">
                            <h3>Точно стоит поехать в этот тур, если:</h3>
                            <ul>
                                <li>любишь много фотографировать и фотографироваться</li>
                                <li>давно хотелось посетить арабскую страну, но что-то останавливало</li>
                                <li>не хочешь банальных экскурсий и избитых гидами маршрутов</li>
                                <li>хочешь увидеть и прочувствовать другой образ жизни </li>
                                <li>есть мечта и нужна мотивация к ее воплощению</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section5">
                <h2>Обо мне</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p><img src="{% static 'img/section6.jpg' %}" class="img-responsive about">«Впервые мечтать о Египте я начала в начальной школе на
                                уроках истории. Тогда я представляла себе фараонов, пирамиды, Нил, пустыню. В студенчестве Египет
                                ассоциировался с туристическими отелями формата all inclusive. Затем, как и многим девушкам, душу
                                взбередил сериал Клон – мусульманские мотивы, танец живота, противостояние культур и ценностей.<br>
                                Но где же он, настоящий Египет, истинный Каир? В этом туре я покажу то, во что влюбилась с первой
                                встречи и чему навсегда отдала частичку своей души. Настоящий Каир с безграничным уважением
                                мусульманских традиций, бесконечными чаепитиями и забиванием сотен тысяч кальянов, с шумными
                                улицами, переполненными гудками машин и смехом. Я покажу мир смелых молодых людей и девушек,
                                совершенствующих прогресс западного мира в канонах уважения к своим традициям. Я покажу Каир
                                великий и простой, без предрассудков и прикрас.<br>
                                Мне 25 лет. Чтобы составить этот тур я посетила Каир более 15 раз и разные уголки Египта более
                                20 раз. И теперь я готова поделиться своим знанием об увиденном с теми, кто этого хочет. Если
                                есть вопросы, обязательно пиши через кнопку обратной связи, либо в мой инстаграм-аккаунт. Всё
                                расскажу, поясню, организую!<br>
                                Ваша Маша &#10084;»</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 sec4">
                            <h3>Что входит в стоимость тура</h3>
                            <ol class="included">
                                <li>Проживание в отеле 7 дней, 6 ночей</li>
                                <li>Трансфер (из/до аэропорта, из/до отеля на экскурсии)</li>
                                <li>Страховка</li>
                                <li>Экскурсионные билеты в музеи</li>
                            </ol>
                        </div>
                        <div class="col-sm-6 sec4">
                            <h3>Что не входит в стоимость тура</h3>
                            <ul class="excluded">
                                <li>Авиабилеты (оказываем помощь в оформлении)</li>
                                <li>Виза в Египет (покупается по прилету в аэропорту)</li>
                                <li>Расходы на еду, покупки, дополнительные расходы во время экскурсий</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>&#9993; eastfairytale.egypt@yandex.ru <a href="https://www.instagram.com/nemova_production" target="_blank">
                            <img src="{% static 'img/instagram-icon.jpg' %}" height="30" width="30"></a></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-muted">2018 &copy; Site designed by Alekhin Denis &#9993; a9265911319@yandex.ru</p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="OS" href="#" data-toggle="modal" data-target="#myModal">
            <div class="questions">
                <p>&#9993;</p>
            </div>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Остались вопросы?</h4>
              </div>
                <form action="" method="post">{% csrf_token %}
                  <div class="modal-body">
                      <div class="form-group">
                        <label>Имя: </label>
                        <input type="text" name="{{ form.name.name }}" class="form-control" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label>Номер телефона: </label>
                        <input type="text" name="{{ form.phone_number.name }}" class="form-control" placeholder="Phone number">
                      </div>
                      <div class="form-group">
                        <label>Email: </label>
                        <input type="email" name="{{ form.email.name }}" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label>Вопрос: </label>
                        <textarea rows="7" name="{{ form.description.name }}" class="form-control" placeholder="Description" required></textarea>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div>

  </body>
</html>