{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Maria Nemova</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- fotorama.css & fotorama.js. -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

    <div class="wrapper">
        <div class="wrapper-content">
            <div class="zastavka">
                <img src="{% static 'img/Zastavka.jpg' %}">
                <h1 class="start"><span>M</span><span>a</span><span>r</span><span>i</span><span>a</span>
                    <span>&nbsp;</span><span>N</span><span>e</span><span>m</span><span>o</span><span>v</span><span>a</span>
                    <span>&nbsp;</span><span>t</span><span>o</span><span>u</span><span>r</span><span>s</span></h1>
            </div>
            <div class="section1">
                <p>Каир, Египет – это настоящая буря Ближнего Востока, хранящая самые древние традиции, но стремящаяся
                к прогрессу и новому видению жизни. Здесь день за днем голос имама разлетается по песчаным улицам
                и призывают к молитве, а девушки, чтящие традиции, всё чаще снимают платок, гуляют с подругами,
                учатся в университетах и работают, защищая свою веру и семейную честь обретенным правом голоса.
                Этот город из песка наполнен дурманящим ароматом тысячи кальянов, специй, кофе и чая. Здесь
                противостояние и единение религий, традиций, культур и прогресса.  Этот мир совершенно другой, но
                чем-то очень родной. И я покажу его противоречивые грани, потайные ходы, умопомрачительные виды и
                бесконечный непрекращающийся праздник.</p>
            </div>
            <div class="section2">
                <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native">
                    {% for item in image %}
                        <img src="{{ item.image.url }}" class="img-responsive">
                    {% endfor %}
                </div>
                <div class="description">
                    <h3>Что увидим и чем займемся</h3>
                    <ol>
                        <li>Единственное сохранившиеся чудо света – Великие Пирамиды Гизы. Изучим со всех ракурсов,
                            посидим на гигантских ступеньках, вызовем клаустрофобию и залезем внутрь, покатаемся на
                            верблюдах и просто помолчим, впитывая шепот пустыни и камней пирамид. А к ночи остановимся
                            у шатра бедуинов, слушая местные песни и вглядываясь в силуэты пирамид сквозь пламя костра.</li>
                        <li>Древнейший арабский рыбок – Кхан Эль Кхалили. Попытаемся не заблудиться среди тысячи
                            лавочек и продавцов, заблудимся и сядем пить кофе, чай, курить кальян там, где сотни лет
                            это делают люди из разных стран и сословий. </li>
                        <li>Посетим величайшие мечети и храмы Каира. Попробуем не впечатлиться атмосферой, узнаем
                            основы мусульманства и способы выживания христианской церкви на чужой земле.</li>
                        <li>Изучим город с крыш и ракурсов, не доступных простым туристам.</li>
                        <li>Заглянем в новый мир с его небоскребами, бизнес-центрами и современным искусством.
                            Прочувствуем, чем живет новое поколение. И расспросим, что думает об этом старшее поколение.</li>
                        <li>Прокатимся по бесконечной пустыне до почти забытых пирамид и храмов и научимся серфить по песку.</li>
                        <li>Отведаем самых традиционных арабских блюд, обязательно влюбимся и поговорим о мечтах,
                            целях и их воплощении.</li>
                        <li>Познакомимся с коренными египтянами и египтянками, подружимся и будем вместе танцевать
                            танец живота. Посетим ночной клуб и до утра будем напевать мировые хиты.</li>
                    </ol>
                </div>
            </div>
            <div class="section3">
                <h3>То, что по-настоящему наполнит тур атмосферой и пользой:</h3>
                <ul>
                    <li>Сидя на ступенях Великих Пирамид мы поговорим о целях, желаниях и стратегических планах.
                        Я научу, как грамотно формулировать, планировать и следовать к мечте.</li>
                    <li>Мы заранее обсудим и подберем образы для каждого выезда в город.</li>
                    <li>Мы проведем масштабную стилизованную съемку в пустыне и обязательно наполним контент-план
                        кадрами из каждого уголка Каира.</li>
                    <li>Мы обсудим основы ведения инстаграм-аккаунта и изучим азы мобильной и профессиональной
                        обработки фотографий на компьютере.</li>
                </ul>
            </div>
            <div class="section4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 sec4">
                            <h3>Проживание</h3>
                                <p>Вы когда-нибудь мечтали засыпать, разглядывая в окно египетские пирамиды?
                                    А просыпаться под шуршание пальмовых листьев и падения в прохладный бассейн? От такого вида с
                                    балкона точно хочется жить, путешествовать и кайфовать.</p>
                        </div>
                        <div class="col-sm-6 sec4">
                            <h3>Точно стоит поехать в этот тур, если:</h3>
                            <ul>
                                <li>любишь много фотографировать и фотографироваться</li>
                                <li>давно хотелось посетить арабскую страну, но что-то останавливало</li>
                                <li>не хочешь банальных экскурсий и избитых гидами маршрутов</li>
                                <li>хочешь увидеть и прочувствовать другой образ жизни </li>
                                <li>есть мечта и нужна мотивация к ее воплощению</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section5">
                <h2>Обо мне</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p><img src="{% static 'img/section6.jpg' %}" class="img-responsive about">«Впервые мечтать о Египте я начала в начальной школе на
                                уроках истории. Тогда я представляла себе фараонов, пирамиды, Нил, пустыню. В студенчестве Египет
                                ассоциировался с туристическими отелями формата all inclusive. Затем, как и многим девушкам, душу
                                взбередил сериал Клон – мусульманские мотивы, танец живота, противостояние культур и ценностей.<br>
                                Но где же он, настоящий Египет, истинный Каир? В этом туре я покажу то, во что влюбилась с первой
                                встречи и чему навсегда отдала частичку своей души. Настоящий Каир с безграничным уважением
                                мусульманских традиций, бесконечными чаепитиями и забиванием сотен тысяч кальянов, с шумными
                                улицами, переполненными гудками машин и смехом. Я покажу мир смелых молодых людей и девушек,
                                совершенствующих прогресс западного мира в канонах уважения к своим традициям. Я покажу Каир
                                великий и простой, без предрассудков и прикрас.<br>
                                Мне 25 лет. Чтобы составить этот тур я посетила Каир более 15 раз и разные уголки Египта более
                                20 раз. И теперь я готова поделиться своим знанием об увиденном с теми, кто этого хочет. Если
                                есть вопросы, обязательно пиши через кнопку обратной связи, либо в мой инстаграм-аккаунт. Всё
                                расскажу, поясню, организую!<br>
                                Ваша Маша»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>