html, body {
  height: 100%;
  padding: 0;
  margin-top: -10px;
  font-family: "Times New Roman", sans-serif, cursive;
  font-size: 18px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper-content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  text-align: center;
  background-color: #bd904d;
}

.footer-row {
    padding-top: 10px;
}

.questions {
    right: 0;
    bottom: 0;
    position: fixed;
    width: 50px;
    height: 40px;
    background-color: rgba(255, 222, 103, 0.7);
    border-top-left-radius: 20px;
}

.questions p {
    position: relative;
    text-align: center;
    font-size: 30px;
}

a.OS {
    text-decoration: none;
    color: black;
}

li {
    margin: 10px;
}

h3 {
    font-size: 40px;
    color: #bd904d;
}

.zastavka img{
    position: relative;
    width: 100%;
}

.start {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1rem;
    font-size: 45px;
    font-family: 'Berkshire Swash', cursive;
    color: whitesmoke;
}

.section1 {
    position: relative;
    padding: 2% 2%;
    font-size: 1.2em;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

span.dropcaps {
    color: #bd904d;
    font-size: 3em;
    float: left;
    font-weight: bolder;
    line-height: 1em;
    margin-bottom: -0.4em;
    margin-right: 0.09em;
    position: relative;
}

.section2 {
    position: relative;
    padding: 2% 2%;
}

.carousel img {
    margin: 0 auto;
    max-height: 600px;
}

.carousel {
    max-height: 600px;
    max-width: 800px;
    margin: 0 auto;
}

.description ol {
    background-image: url("../img/prozrachnaya-y.jpg");
    background-size: cover;
}

.section3 {
    position: relative;
    padding: 2% 2%;
}

.section3 li {
    list-style-type: none;
}

.section4 {
    position: relative;
    padding: 2% 2%;
}

.section4 p {
    font-size: 24px;
}

.sec4 {
    padding: 0 5% 0 5%;
}

.bed-img {
    background-image: url("../img/61568082.jpg");
    background-size: cover;
    min-height: 310px;
}

.bed p {
    padding: 50px 10px 0 10px;
}

.bed h3 {
    text-align: center;
}

.section5 {
    position: relative;
    padding: 2% 2%;
    font-size: 1em;
}

.section5 p {
    font-family: 'Marck Script', cursive;
}

.section5 h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 3%;
}

img.about {
    float: left;
    padding: 0 2% 0 0;
    width: 40%;
    height: 40%;
}

.section6 {
    position: relative;
    padding: 2% 2%;
}

.section6 h3 {
    font-size: 34px;
}

.section6 li {
    list-style-type: none;
}

.included li {
    padding-left: 20px;
    position: relative;
    margin: 10px;
}

.included li:before {
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: darkgreen;
}

.excluded li {
    padding-left: 20px;
    position: relative;
    margin: 10px;
}

.excluded li:before {
    content: 'x';
    position: absolute; top: 0; left: 0;
    font-weight: bold;
    color: darkred;
    margin-right: 10px;
}

/******************   SMOKE EFFECT   ******************/



/******************   SMOKE EFFECT   ******************/