html, body {
  height: 100%;
  padding: 0;
  margin-top: -10px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper-content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.zastavka img{
    position: relative;
    width: 100%;
}

.start {
    display: none;
    margin-top: -50%;
    position: relative;
    text-align: center;
    font-size: 45px;
    color: whitesmoke;
}

.section1 {
    position: relative;
    padding: 50% 2% 0 2%;
    font-size: 1.5em;
}

.section2 {
    position: relative;
    padding: 2% 2%;
}

.fotorama {
    padding: 0 15%;
}

.section3 {
    position: relative;
    padding: 2% 2%;
}

.section3 li {
    list-style-type: none;
}

.section4 {
    position: relative;
    padding: 2% 2%;
}

.section4 li {
    list-style-type: none;
}

.sec4 {
    padding: 0 5% 0 5%;
}

.section5 {
    position: relative;
    padding: 2% 2%;
    font-size: 1.5em;
}

.section5 h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 3%;
}

img.about {
    float: left;
    padding: 0 2% 0 0;
}

/******************   SMOKE EFFECT   ******************/



/******************   SMOKE EFFECT   ******************/